body {
font-family: courier new;
 }
 h1 {
  color: #B22222;
    }
.p1 {
  color: #0000FF;
  font-size: 25px;
 }
h2 {
color: #FFA500;
 }

ul {
  color: #008000;
  font-size: 130%;	
 }
